<!DOCTYPE html>
<html>
<head>
  <script>
      function goBack() {
        window.history.back()
      }
    </script>
  <title>Experience Rating</title>
<head> 
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link rel="stylesheet" type"text/css" href="css/team4.css">
	<link rel="stylesheet" type"text/css" href="css/bubbles.css">
</head>
<body>
  <div class="navigation">
    <ul id="menu">
      <li><a onclick="goBack()">Go Back</a><li>
      <li><a href="/">Home</a></li>
      <li><a href="profile">Profile</a></li>
      <li><a href="history">History</a></li>
      <li><a href="logout">LogOut</a></li>
    </ul> 
  </div>

<p STYLE="WIDTH:100%; padding-top:5%" align="center" class="tit"> Rate Your Experience! </p>

<form id="addRatingForm" role="form" method="get" action="/rating">
	    <div class="form-group">
	      <label for="ss">
	    	<div> <h2 class="food">Where Did You Go?</h2></div>
	      </label>
	      <input type="text" class="form-control" id="ss" placeholder="Place" name="ss">
	    </div>
	    <div class="form-group">
	      <label for="feeling">
	      	<div> <h2 class="food">How Did This Make You Feel?</h2></div>
	      </label>
	
	{{#each rating}}
	<div class="rate" id="{{id}}">
	<div> <h3 class="food">{{feel}}</h2></div>
	<div> <h3 class="fun fun2">{{opt1}}</h4></div>
	<div> <h3 class="fun fun2">{{opt2}}</h4></div>
	<div> <h3 class="fun fun2">{{opt3}}</h4></div>
	</div>
	{{/each}}
	   
	    </div>
	    <div class="form-group">
	      <label for="description">
	      	<div> <h2 class="food">When Did You Do This?</h2></div>
	      	</label>
	      <input type="text" class="form-control" id="eventDate" placeholder="Date" name="eventDate" style="height: 300px;">
	    </div>
	    <input type="submit" id="submitBtn" class="btn" value="Record Your Experience">
		</input>
	</form>

<script src="/js/jquery-1.11.0.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/hci-friends.js"></script>

</body>
</html>


