<!DOCTYPE html>
<html>
<head>
  <script>
      function goBack() {
        window.history.back()
      }
    </script>
  <title>Experience Personalization</title>
<head> 
  <link rel="stylesheet" type"text/css" href="css/bubbles.css">
  <link rel="stylesheet" type"text/css" href="css/team4.css">
{{>tracking_code_script}}
</head>

<body>
  <div class="navigation">
    <ul id="menu">
      <li><a onclick="goBack()">Go Back</a><li>
      <li><a href="/">Home</a></li>
      <li><a href="profile">Profile</a></li>
      <li><a href="history">History</a></li>
      <li><a href="logout">LogOut</a></li>
    </ul> 
  </div>

<p STYLE="WIDTH:100%; padding-top:5%" align="center" class="tit"> Personalize Your Experience! </p>

{{#each questions}}
<div class="opt" id="{{serial}}">
  <div> <h3 class="food">{{qq}}</h2></div>
<div> <h3 class="fun fun2">{{opt1}}</h4></div>
<div> <h3 class="fun fun2">{{opt2}}</h4></div>
<div> <h3 class="fun fun2">{{opt3}}</h4></div>
</div>
{{/each}}

<a href="suggestions">
  <img STYLE="position:relative WIDTH:15%;" vertical  src="/images/go_arrow.png">
  </a>

<script src="/js/jquery-1.11.0.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/hci-friends.js"></script>

</body>
</html>